body {
	background-color: rgba(0, 0, 0, 0.5);
}

.cookie-banner {
	height: 335px;
	width: 375px;
	top: 370px;
	left: 1120px;
}

.cookie-banner-top {
	padding: 20px;
	background-color: #f5f5f5;
}

.cookie-banner-heading {
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 15px;
}

.cookie-banner-body {
	font-size: 14px;
	line-height: 21px;
	text-align: justify;
}

.scroller {
	height: 95px;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
	padding-right: 8px;
}

.cookie-banner-links {
	display: flex;
}

.cookie-banner-links a {
	font-size: 14px;
	flex: 50%;
}

.cookie-banner-bottom {
	padding: 20px;
}

.cookie-banner-bottom a {
	font-size: 14px;
	line-height: 16px;
}

.cookie-banner-bottom .btn {
	margin: 0 20px 20px;
	width: 295px;
	font-weight: bold;
	padding: 14px 0;
	font-size: 15px;
	line-height: 18px;
	border-radius: 0;
}

// .scroller::-webkit-scrollbar {
// 	width: 2px;
// 	height: 15px;
// }

// .scroller::-webkit-scrollbar-track {
// 	background-color: white;
// }

// .scroller::-webkit-scrollbar-thumb {
// 	background: black;
// }
