.contact-row {
	margin-left: 115px !important;
	margin-right: 115px !important;
}

.banner-text {
	top: 25%;
	width: 50%;
	margin-left: 35%;
	overflow-x: hidden;
}

.accordion-button {
	padding: 0.65rem 1.25rem !important;
}

.accordion-button::after {
	content: ">";
	transform: rotate(90deg);
	background-image: none;
	color: white;
}

.accordion-button:not(.collapsed)::after{
	background-image: none !important;
	transform: rotate(-180deg) !important;
}
// .abs {
// 	text-align: center;
// 	position: absolute;
// 	-o-transform: translate(-50%, -50%);
// 	-webkit-transform: translate(-50%, -50%);
// 	-moz-transform: translate(-50%, -50%);
// 	transform: translate(-50%, -50%);
// 	top: 50%;
// 	width: 50%;
// 	left: 58%;
// }

