.btn {
  &:hover,
  &-primary {
    background-color: $primary;
    color: $white !important;
  }
  &-primary {
    font-weight: 500;
  }
  &-light {
   opacity: 0;
    background-color: $milk;
    &:hover {
      background-color: $milkHover;
      color: $black !important;
      opacity: 1 !important;
    }
  }
}