header {
	.navbar { 
		max-height: $min-lh !important;
		.container {
			&-fluid {
				margin: $mp-0 $mp-5 !important;
				.navbar-collapse {
					font-size: $min-fs !important;
					line-height: $min-lh !important;
					.text-uppercase {
						padding-right: 40px;
					}
					.dropdown {
						padding-right: $mp-2;
						select {
							@include dropdown-reset;
						}
						&:active, &:focus {
							border: 0;
						}
					}
					
				}
			}
		}
	}
}

.main-header {
	font-size: $main-fs;
	line-height: $main-lh;
	max-height: 98px;
	.navbar {
		font-size: 12px;
		font-weight: $normal;
		padding: $mp-0 $mp-1;
		letter-spacing: $mp-0;
		line-height: $mp-2;
		.nav-item {

			a:hover {
				color: $primary !important;
			}
		}
		.container {
			&-fluid {
				margin: $mp-0 $mp-5 !important;
			}
		}
		&-header {
			margin: $mp-1 auto;
		}
		.navbar-nav {
			flex-direction: row;
		}
	}
	.navbar-nav {
		li {
			padding: $mp-0 $mp-1;
		}
	}
	.navbar-btn {
		font-size: 14px;
		line-height: $mp-1;
		font-weight: 400;
		text-align: end;
		@include reset-a;
		a:hover {
			color: $primary !important;
		}
	}
}

.fixed .navbar-main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	animation-name: slideDown;
	animation-duration: 1s;
    animation-fill-mode: both;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
