main {
	.container {
		max-width: 100%;
		padding: $mp-0 $mp-5 !important;
		a {
			&:hover {
				color: $primary !important;
			}
		}
		select {
			padding: 5px 10px;
			line-height: 1.35;
			height: 36px;
			border: 1px solid #cbcbcb;
			background: #eee;
			outline: 0;
			border-color: #eee;
		}
		.faq {
			margin: 20px 115px;
			
		}
		.block-product {
			@include section-title;
		}
		.collection-view {
			line-height: 1;
			text-align: left;
		}
		.plp-body {
			padding-top: 40px;
			line-height: 24px;
			.title {
				font-weight: 600;
			}
			p {
				line-height: 28px;
			}
		}
		.list-link {
			margin: 50px auto;
			.btn-primary {
				line-height: 24px;
			}
			.price-box {
				font-weight: 600;
			}
		}
		.page-total {
			padding: 5px 0 5px 0;	
			line-height: 1;
			letter-spacing: 1px;
			border-bottom: 1px solid;
			margin-right: 180px;
		}
		.block-title {
			position: relative;
			span,
			h2 {
				letter-spacing: 1px;
				margin-bottom: 15px;
				margin-top: 30px;
				padding: 0 0 5px;
				font-weight: 600;
			}
			h2 {
				&::after{
					content: "";
					width: 30px;
					height: 3px;
					background: $dark;
					position: absolute;
					top: 30px;
					bottom: 0;
					left: 0;
				}
			}
		}
		.widget-content {
			ul {
				list-style-type: square;
				margin-left: 15px;
			}
			li {
				border-color: #eaeaea;
				line-height: 35px;
			
			}
		}
		.mainSlider {
			margin-left: 15px !important;
			max-width:305px;
		}
		.mainAsideSlider{
			.card {
				border: 1px solid $milk !important;
				.asideSlider-title {
					font-size: 16px;
					line-height: 24px;
				}
				.asideSlider-link {
					font-size: 12px;
					margin-top: 14px;
					padding-bottom: 3px;
					&:hover {
						border-bottom: 1px solid $primary
					}
				}
				
			}
			@include asideSlider-card;
			.slick-prev:before {
				@include arrows;
				content: '<';
				margin-top: -242px;
				margin-left: 272px;
			}
			.slick-next:before {
				@include arrows;
				margin-top: -242px;
				margin-left: -28px;
			}
		}
		aside {
			max-width: 18%;
			padding-right: 0 !important;
			.parent-title {
				max-width: 218px;
				margin-right: 3px;
				line-height: 52px;
				font-size: 14px;
				font-weight: 500;
				i {
					font-size: 18px;
    				line-height: 50px;
					padding: $mp-0 $mp-1;
				}
			}
		
			.navbar {
				.navbar-nav {
					li {
						width: 92%;
						display: block;
						padding-bottom: 6px;
						padding-top: 6px;
						padding-left: 12px;
						margin-left: 12px;
						i {
							font-size: 16px;
						}
						.menu-title {
							font-size: 14px;
							letter-spacing: .5px;
							padding-left: 6px;
						}
					}
				}
			}
			
			.slider {
				max-width: 215px;
			}
			.asideSlider{
				@include asideSlider-card;
				.slick-prev:before {
					@include arrows;
					content: '<';
					margin-top: -247px;
					margin-left: 197px;
				}
				.slick-next:before {
					@include arrows;
					margin-top: -247px;
					margin-left: 10px;
				}
				
			}
		}
		article {
			padding-left: 0 !important;
			line-height: 52px;
			font-size: 14px;
			max-width: 82%;
			.input-group {
				height: 40px;
				width: 100%;
				letter-spacing: 0;
				line-height: 40px;
				input {
					font-size: 12px;
					border-radius: 0;
				}
				&-text {
					font-size: 13px;
					letter-spacing: 1px;
				    text-align: center;
					padding: 0 33px;
					border-radius: 0;
					width: 124px;
				}
			}
			.text-order {
				font-size: 13px;
				line-height: 1;
				padding-right: 40px;
				padding-top: 4px;
				i {
					font-size: 18px;
					padding-right: 10px;
				}
			}
			.wishlists {
				padding-right: 20px;
				i {
					font-size: 18px;
				}
			}
			.cart {
				font-size: 18px;
				.badge {
					font: {
						size: 8px;
						weight: 700;
						family: "Rubik", sans-serif;
					}
				}

			}
			.carousel {
				.carousel-item {
					.caption {
						top: 28%;
						left: 15%;
						letter-spacing: 1px;
						line-height: 24px;
						h2 {
							font-size: 36px !important;
							line-height: 36px;
						}
						
					}
				}
			}
			.row {
				padding-left: 10px;				
			}
			.card {
				border-radius: 0;
				padding-left: 10px !important;
				padding-bottom: 20px !important;  
				border: none !important;
				.caption {
					top: 15%;
					left: 12%;
					letter-spacing: 0.5px;
					line-height: 24px;
					font-weight: 500;
					h6 {
						font-size: 16px;
    					line-height: 20px;
					}
					&:hover {
						color: $primary !important;
					}
				}
			}
			.cardSlider {
				.slick-prev:before {
					@include arrows;
					content: '<';
					margin-top: -144px;
					margin-left: 1100px;
				  }
				  
				  .slick-next:before {
					@include arrows;
					margin-top: -144px;
					margin-left: -38px;
				  }
				.card {
					.caption {
						top: 65%;
						margin: 0 auto;
						padding: 0 auto;
					}
				}
			}
			.block-product {
				margin-top: 101px;
				
			}
			.asideSlider-cards {
				.card {
					padding-left: 5px !important;
					padding-right: 5px !important;
					&:hover {
						filter:drop-shadow(.3rem .3rem 0.8rem $milkHover);	
					}
				}
				@include asideSlider-card;
				img {
					max-height: 160px;
					max-width: 140px;
				}
				.card-body {
					max-width: 140px;
				}
			}

			.articleSlider-cards {
				.card {
					padding-left: 15px !important;
					padding-right: 15px !important;
					border: 1px solid #eee !important;
					&:hover {
						filter:drop-shadow(.3rem .3rem 0.8rem $milkHover);	
					}
				}
				@include asideSlider-card;
				img {
					max-height: 224px;
					max-width: 220px;
				}
				.fa-heart {
					padding: 12px;
				}
			}


			.asideSlider{
				@include asideSlider-card;
				.slick-prev:before {
					@include arrows;
					content: '<';
					margin-top: -278px;
					margin-left: 1090px;
				}
				.slick-next:before {
					@include arrows;
					margin-top:  -278px;
					margin-left: -24px;
				}
				.card {
					margin: auto 15px;
					border: 1px solid $milk !important;
					.card-body {
						max-width: 140px;
					}
					&:hover {
						filter:drop-shadow(.3rem .3rem 0.8rem $milkHover);	
					}
				}
			}
		}
		.cards-quickView {
			top:215px;
			margin: auto 8px;
			right:0;
			left: 0;
		}
		.q-view {
			margin-top: -100px;
			margin-left: 30px;
			z-index: 9999;

		}
		.v-hidden {
			opacity: 0 !important;
			&:hover {
				opacity: 1 !important;
			}
		}
		.mainCards {
			@include asideSlider-card;
			.card {
				border: 1px solid $milk !important;
				&:hover {
					filter:drop-shadow(.3rem .3rem 0.8rem $milkHover);
					padding-left: 15px !important;
					padding-right: 15px !important;
				}
			}
		}
		.recently-viewed {
			.col-half {
				&:hover {
					border: 0.25px solid $primary;
				}
			}
		}
		.promotion {
			margin-bottom: 100px;
		}
		.ad {
			
			max-width: 220px;
			max-height: 150px;
		}

		
	}
}