.dropdownn {
	display: inline-block;
	position: relative;
	padding-bottom: 32px;
	&:hover {
		.dropdown-content {
			display: block;
		}
	}
	
	.scroller {	
		overflow-y: scroll !important;
		overflow-x: hidden !important;
	}
}

.shops {
	.dropdown {
		&-content {
			left:-475px;
			min-width: 1400px;
			.dropdown-image {
				margin-top: 45px;
				width:260px;
				height: 260px;
			}
		}

	}
}

aside {
	.dropdown {
		&-content {
			min-width: 230px;
			left: 107%;
			top: -8px;
			border-top: 3px solid $primary;
			.drop-d {
				width: 700px;
			}
			.computer-dropdown {
				li {
					border-bottom: 2px solid $milk;
					padding-bottom: 5px;
				}
			}
			.dropdown-image {
				
				width:425px;
				height: 260px;
			}
		}
	}
}

.dropdown{
	&-content {
		background-color: $white;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		display: none;
		top: 62px;
		position: absolute;
		z-index: 99999;
		.home {
			min-width: 220px;
			@include navbar-hover;
		}
		.pages {
			min-width: 220px;
			@include navbar-hover;
		}
		.features {
			min-width: 600px;
			@include navbar-hover;
		}
		.shop {
			@include navbar-hover;
		}
		
		a {
			
			display: block;
			text-decoration: none;
		}
		.navbar-head {
			font-weight: 500;
			padding-top: 15px;
			padding-bottom: 5px;
			line-height: 30px;
		}
	}
}

.angle-right-icon {
	padding-left: 110px !important;
}

.angle-right-iconn {
	padding-left: 140px !important;
}
