$primary: #E23E1D;
$dark: #1A1A1A;
$green: #51A042;
$blue: #1467C1;
$orange: #FAC451;
$black: #000;
$milk: #F5F5F5;
$white: #fff;
$gray: #4c4c4c;

$bold: 700;
$normal: 500;
$light: 300;

$min-fs: 12px;
$min-lh: 50px;

$main-fs: 13px;
$main-lh: 36px;


$mp-0:0;
$mp-1:15px;
$mp-2:30px;
$mp-3:45px;
$mp-4:60px;
$mp-5:75px;